body {
    background: #222222;
  }
  
  .morph-section {
    width: 400px;
    height: 400px;
  
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -200px;
    font-family: monospace;
    color: #fff;
  }
  
  .info {
    font-family: monospace;
    position: absolute;
    line-height: 20px;
    font-size: 16px;
    left: 20px;
    bottom: 20px;
    color: #fff;
  }
  
  a {
    color: #f9f9f9;
  }

  .themessage-page {
    background-color: #222222;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.message-text {
    text-align: center;
    max-width: 800px;
}

.message-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.message-text p {
    font-size: 17px;
    line-height: 1.6;
    color: #f0f0f0;
}

@media (max-width: 768px) {
  .message-text {
      max-width: 90%;
      padding: 15px;
  }

  .message-text h1 {
      font-size: 22px; 
      margin: 0;
  }

  .message-text p {
      font-size: 18px; 
      line-height: 1.4; 
  }
}


@media (max-width: 480px) {
  .message-text h1 {
      font-size: 20px;
  }

  .message-text p {
      font-size: 13px; 
      line-height: 1.3;
  }
}